<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>User</servlet-name>
  	<display-name>User</display-name>
  	<description></description>
  	<servlet-class>com.entity.User</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>com.servlet.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PostJobsServlet</servlet-name>
  	<display-name>PostJobsServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.PostJobsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteJobsServlet</servlet-name>
  	<display-name>DeleteJobsServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.DeleteJobsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditJobsServlet</servlet-name>
  	<display-name>EditJobsServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.EditJobsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SignupServlet</servlet-name>
  	<display-name>SignupServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.SignupServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditUserServlet</servlet-name>
  	<display-name>EditUserServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.EditUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>User</servlet-name>
  	<url-pattern>/User</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PostJobsServlet</servlet-name>
  	<url-pattern>/PostJobsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteJobsServlet</servlet-name>
  	<url-pattern>/DeleteJobsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditJobsServlet</servlet-name>
  	<url-pattern>/EditJobsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignupServlet</servlet-name>
  	<url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditUserServlet</servlet-name>
  	<url-pattern>/EditUserServlet</url-pattern>
  </servlet-mapping>
</web-app>
